<%= form_for(@movie) do |f| %>

  <p>Title: <%= f.text_field(:title)%></p>
  <p>Released</p>
  <p><%= f.datetime_select(:released_at, start_year:1980, order: [:month, :year], ampm: false)%></p>
  <p><h1><%= f.submit('Update') %></h1></p>

<% end %>