<%= form_for(@movie) do |f| %>

  <p>Title: <%= f.text_field(:title)%></p>
  <p>Released</p>
  <p><%= f.date_select(:released_at, start_year:1980, ampm:false)%></p>
  <p><h1><%= f.submit('Save') %></h1></p>

<% end %>
